<div class="wrap">
  <%= link_to("https://www.ctti-clinicaltrials.org/") do %>
    <%= image_tag("https://www.ctsi.duke.edu/sites/www.ctsi.duke.edu/files/images/_misc/CTTI_LOGO_v2_horz_logo.JPG", class:"logo") %>
  <% end %>

  <div class="navContainer">
    <nav>
      <% unless current_page?(root_url) %>
        <a href="/" class="navItem">
          <%= fa_icon("home") %>
          Home
        </a>
      <% end %>
      <a href="/connect" class="navItem">
        <%= fa_icon("plug") %>
        Connect
      </a>
      <a href="/download" class="navItem">
        <%= fa_icon("download") %>
        Download
      </a>
      <a href="/learn_more" class="navItem">
        <%= fa_icon("university") %>
        Learn
      </a>
    </nav>
  </div>
</div>

<% if Admin::PublicAnnouncement.count > 0 %>
  <section class='basicHero'>
  <div class='copy announcement'>
    <h1 class='announcement'>Announcement</h1>
    <div class='wrap'>
      <ul class='announcement'>
        <% Admin::PublicAnnouncement.all.each do |announcement| %>
          <li><%= announcement.description %></li>
        <% end %>
      </ul>
    </div>
  </div>
  </section>
<% end %>
