<div class="navContainer">
<% if user_signed_in? %>
  <div class="nav navbar-nav navbar-right">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Logged in as <%= current_user.first_name %>
        <span class="caret"></span>
      </button>
      <ul style="list-style: none;" class="dropdown-menu" aria-labelledby="userMenu">
        <% if user_signed_in? %>
          <li><%= link_to "Edit Profile", edit_user_registration_path, class: 'link-action' %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'link-action' %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
</div>

<div class="wrap">
  <%= link_to("https://www.ctti-clinicaltrials.org/") do %>
    <%= image_tag("https://www.ctsi.duke.edu/sites/www.ctsi.duke.edu/files/images/_misc/CTTI_LOGO_v2_horz_logo.JPG", class:"logo") %>
  <% end %>

  <div class="navContainer">
    <nav>
      <% unless current_page?(root_url) %>
        <a href="/" class="navItem">
          <%= icon("home") %>
          Home
        </a>
      <% end %>
      <a href="/connect" class="navItem">
        <%= icon("plug") %>
        Connect
      </a>
      <a href="/download" class="navItem">
        <%= icon("download") %>
        Download
      </a>
      <a href="/learn_more" class="navItem">
        <%= icon("university") %>
        Learn
      </a>
    </nav>
  </div>
</div>

<% if PublicAnnouncement.count > 0 %>
  <section class='basicHero'>
  <div class='copy announcement'>
    <h1 class='announcement'>Announcement</h1>
    <div class='wrap'>
      <ul class='announcement'>
        <% PublicAnnouncement.all.each do |announcement| %>
          <li><%= announcement.description %></li>
        <% end %>
      </ul>
    </div>
  </div>
  </section>
<% end %>
