<div class="wrap">

  <!-- <div class="contact">

    <nav class="social">
      <a href="#"><%= icon("facebook") %></a>
      <a href="#"><%= icon("twitter") %></a>
      <a href="#"><%= icon("linkedin") %></a>
      <a href="#"><%= icon("github") %></a>
      <a href="#"><%= icon("envelope") %></a>
    </nav>

  </div> -->

  <nav class="footerBar">
    <a href="https://www.ctti-clinicaltrials.org/">CTTI</a>
    <a href="https://www.ctti-clinicaltrials.org/projects/state-clinical-trials">STATE OF CLINICAL TRIALS</a>
    <a href="/points_to_consider">GUIDE FOR RESEARCHERS</a>
    <a href="https://www.ctti-clinicaltrials.org/contact-us">Contact Us</a>
  </nav>

  <div class="disclaimer">
    <p>
      <b>DISCLAIMER</b>: <i>CTTI encourages the use of all materials listed on this site in the pursuit of improving the clinical trials enterprise. Our recommendations, tools, meeting summaries, and more are available to the public for free. We do ask that you acknowledge the source whenever using or referencing CTTI materials. Read our Citation Policy here.</i>
    </p>
  </div>

  <div class="copyright">
    <p>
      Copyright © CTTI 2016.
    </p>
  </div>
</div>
