<div class="wrap">
  <%= link_to("https://www.ctti-clinicaltrials.org/") do %>
    <%= image_tag("https://www.ctsi.duke.edu/sites/www.ctsi.duke.edu/files/images/_misc/CTTI_LOGO_v2_horz_logo.JPG", class:"logo") %>
  <% end %>

  <div class="navContainer">
    <nav>
      <% unless current_page?(root_url) %>
        <a href="/" class="navItem">
          <%= icon("home") %>
          Home
        </a>
      <% end %>
      <a href="/connect" class="navItem">
        <%= icon("plug") %>
        Connect
      </a>
      <a href="/download" class="navItem">
        <%= icon("download") %>
        Download
      </a>
      <a href="/learn_more" class="navItem">
        <%= icon("university") %>
        Learn
      </a>
    </nav>
  </div>
</div>
