<h2><%= @load_event.event_type.humanize %></h2>

<p>Completed in <%= @load_event.load_time %></p>

<p>New studies: <%= @load_event.new_studies %></p>
<p>Changed studies: <%= @load_event.changed_studies %></p>

<% if @errors.present? %>
  <h2>Unfortunately, some errors occurred:</h2>

  <% @errors.each do |error| %>
    <p>Method call: <%= error[:name] %></p>
    <p>Number of occurences: <%= error[:count] %></p>
    <p>First line of backtrace: <%= error[:first_backtrace_line] %></p>
  <% end %>
<% end %>


