<%= form_for(@use_case) do |f| %>
  <% if @use_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@use_case.errors.count, "error") %> prohibited this use_case from being saved:</h2>

      <ul>
      <% @use_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
    Image <%= f.file_field :image %>
  </p>
  <p>
    Image Url: <%= f.text_field :remote_image_url %>
  </p>

  <div class="form-group">
    Title <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    Brief Summary <%= f.text_field :brief_summary, placeholder: 'enter a brief summary', class: "form-control" %>
  </div>

  <div class="form-group">
    URL <%= f.text_field :url, :size=>'100', placeholder: 'enter relevant url link', class: "form-control" %>
  </div>

  <div class="form-group">
    Submitted by <%= f.text_field :submitter_name, placeholder: 'enter name of person responsible', class: "form-control" %>
  </div>

  <div class="form-group">
    Contact Info <%= f.text_field :contact_info,  placeholder: "enter contact info (phone, address, etc)", class: "form-control" %>
  </div>

  <div class="form-group">
    Email <%= f.text_field :email, :size=>"40", placeholder: "enter contact's email address", :maxlength=>"254", class: "form-control" %>
  </div>

  <div class="form-group">
    Details <%= f.text_field :detailed_description, :size=>"800", placeholder: "enter details", :maxlength=>"4000", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
