<%=  stylesheet_link_tag "use_cases/use_cases" %>
<%= form_for @use_case, :html => { :multipart => true} do |f| %>
  <% if @use_case.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@use_case.errors.count, "error") %> prohibited this use_case from being saved:</h2>

      <ul>
      <% @use_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well form-group">
    <p>* Title
    <%= f.text_field :title, autofocus: true, :minlength=> 4, class: "enter-info form-control", placeholder: 'a few words to serve as a title (label) for your work', :required => true %>
    </p>
  </div>

  <div class="form-group">
    <p>* Brief Summary
      <%= f.text_field :brief_summary, placeholder: 'a few sentences that basically describes the work', class: "enter-info form-control", :required => true %>
    </p>
  </div>

  <div class="form-group">
    <p>* Submitted by
      <%= f.text_field :submitter_name, :size=>'20', :minlength=> 4, placeholder: 'name of person responsible for this submission', class: "enter-info form-control", :required => true %>
    </p>
  </div>

  <div class="form-group">
    <p>* Email
      <%= f.text_field :email, :size=>'20', placeholder: 'email address we can use to contact you to confirm this information (this will not display in the gallery)', :maxlength=>"254", class: "enter-info form-control", :required => true %>
    </p>
  </div>

  <div class="form-group">
    <p>Public Contact Info
      <%= f.text_field :contact_info, placeholder: "help others contact you (this will be display in the gallery with your use case)", class: "enter-info form-control" %>
    </p>
  </div>

  <div class="form-group">
    <p>URL
    <%= f.text_field :url, :size=>'100', placeholder: 'url link to a related website', class: "enter-info form-control" %></p>
  </div>

  <div class="form-group">
    <p>Details
      <%= f.text_area :detailed_description, cols: '40', rows: '10', placeholder: "all the details you consider worth sharing", class: 'enter-info form-control' %>
    </p>
  </div>

  <p class='enter-label form-group'>Attachment  (100 MB limit):
    <% if !@use_case.current_attachment_file_name.nil? %>
      (Currently: <%= @use_case.current_attachment_file_name %>)
    <% end %>
    <%= f.file_field :file, class: 'enter-info form-control' %>
  </p>

  <p class='enter-label form-group'>Image:  (100 MB limit)
    <% if !@use_case.current_image_file_name.nil? %>
      (Currently: <%= @use_case.current_image_file_name %>)
    <% end %>
    <%= f.file_field :image_file, class: 'enter-info form-control' %>
  </p>

  <br>
  <p>By pressing this button, you agree to share this information with the research community; your information will be published to the AACT Gallery.</p>
  <div class="button actions">
    <p><%= f.submit %></p>
  </div>

<% end %>
