<%=  stylesheet_link_tag "use_cases/use_cases" %>
<div class="wrap">

  <div class="basicHero">
    <h1>Gallery</h1>
    <p>Everyone is welcome to develop analytical tools and applications based on AACT data & encouraged to share their work and discoveries with the community. Analysis worth sharing will be posted for public access on this page.</p>
    <p>Examples of how AACT might be used:
         <ul class='regularDisplay'>
           <li>Identify general patterns and trends in clinical trial research.</li>
           <li>Determine how well an organization is complying with regulations.</li>
           <li>Discover where research is being conducted for a particular clinical field.</li>
           <li>Develop websites to better organize and/or enhance this dataset.</li>
         </ul>
    </p>

    <p>
      <a class='button' href='/use_cases/new' target='_blank'>Showcase your work to the AACT Gallery</a>
    </p>

    <h3>How AACT is Currently Being Used</h3>
  </div>

  <section class="useCases">

    <table class='useCaseTable table dataTable data-table table-striped table-condensed table-hover'>

     <tbody>
      <% @use_cases.each do |use_case| %>
        <tr class='useCaseExample'>
          <td>
            <a target='_blank' href='<%= use_case.id %>'>
              <% if use_case.image? %>
                <%= image_tag use_case.image_url(:thumb) %>
              <% end %>
            </a>
          </td>
          <td>
            <a href='/use_cases/<%= use_case.id %>'>
              <h4><%= use_case.title %></h4>
              <p><%= use_case.brief_summary %></p>
            </a>
          </td>
        </tr>
      <% end %>
     </tbody>
   </table>

  </section>
</div>
