<%=  stylesheet_link_tag "use_cases/use_cases" %>
<div class="wrap">

  <div class="basicHero">

      <p class='useCaseInvitation'>All are welcome to develop analytic tools, visualizations and websites that use AACT data. Examples of how AACT might be used:</p>
       <ul class='useCaseInvitation'>
         <li class='useCaseInvitation'>Identify patterns and trends in clinical trial research.</li>
         <li class='useCaseInvitation'>Find out how well an organization is complying with regulations.</li>
         <li class='useCaseInvitation'>Discover where clinical research is being conducted in a particular field.</li>
         <li class='useCaseInvitation'>Develop websites to better organize and/or enhance the dataset.</li>
       </ul>
      <p class='useCaseInvitation'>We encourage everyone to share their work and discoveries with the community so that everyone can benefit.</p>

  <p align="left" class='regularDisplay'>Disclaimer: The AACT Gallery is provided as a public resource to learn more about how your colleagues have used AACT. The examples do not represent official products of the Clinical Trials Transformation Initiative (CTTI). Any views expressed do not necessarily reflect official views of CTTI or CTTI’s member organizations.</p>
  </div>
  <div class="useCase">
    <h1 id='galleryHeading'>AACT Gallery</h1>
    <section class="useCases">

      <table id='useCaseTable' class='table dataTable data-table table-striped table-condensed table-hover'>

       <tbody class='useCases'>
        <% @use_cases.each do |use_case| %>
          <tr class='useCases'>
            <!-- <td>
              <a target='_blank' href='<%= use_case.id %>'>
                <% if use_case.image? %>
                  <%= image_tag use_case.image_url(:thumb) %>
                <% end %>
              </a>
            </td>  -->
            <td class='useCase'>
              <a href='/use_cases/<%= use_case.id %>' class='useCase'>
                <h4><%= use_case.title %></h4>
                <p><%= use_case.brief_summary %></p>
               <% if !use_case.submitter_name.blank? %>
                  <p><i>Provided by <%= use_case.submitter_name %></i></p>
                  <p><%= use_case.contact_info %></i></p>
                <% end %>
              </a>
              <% if !use_case.url.blank? %>
                <p><a href="<%= use_case.linkable_url %>" target="_blank" ><%= use_case.url %></a></p>
              <% end %>
            </td>
          </tr>
        <% end %>
       </tbody>
     </table>
    </section>
  </div>

  <div class="basicHero">

      <p class='useCaseInvitation'>
        <%= button_to "I'd like to showcase my work in the AACT Gallery", new_use_case_path, :id => "addUseCaseButton",
       :class => "inbox-sf-add-btn tip", :method => :get %>
      </p>

  </div>

</div>
