<%=  stylesheet_link_tag 'use_cases/use_cases' %>
<div class="wrap">

  <% if @use_case.status != 'public' %>
    <section id='useCase'>
      <div class='well'>
        <h5>This use case will appear in the AACT Gallery once it has been reviewed by CTTI staff. The submitter will be contacted to verify the content and confirm the information can be published.</h5>
      </div>
    </section>
  <% end %>

  <br>

  <section id='useCase'>
    <p>
      <h1 id='useCaseHeading'>
        <%= image_tag @use_case.image_url(:small) if @use_case.image %>
        <%= @use_case.title %>
      </h1>
    </p>

    <% if !@use_case.brief_summary.blank? %>
      <p>Summary: <%= @use_case.brief_summary %></p>
    <% end %>

    <% if !@use_case.submitter_name.blank? %>
      <p><%= @use_case.submitter_name %></p>
      <p><%= @use_case.contact_info %></p>
    <% end %>

    <% if !@use_case.detailed_description.blank? %>
      <p>Details: <%= @use_case.detailed_description %></p>
    <% end %>

    <% if @use_case.url %>
      <p><%= link_to  @use_case.url, URI::HTTP.build({:host => @use_case.url.split('//').last}).to_s, :target => "_blank" %></p>
    <% end %>

    <% if !@use_case.attachment.nil? %>
      <p>Attachment:&nbsp;&nbsp;
        <a href='/use_case_attachments/<%= @use_case.attachment.id %>'>
          <%= @use_case.attachment.file_name %>
        </a>
      </p>
    <% end %>

  </section>

  <div style="margin:30px;">
    <p><%= link_to 'Return to Gallery', use_cases_path %></p>
  </div>

</div>
