<%=  stylesheet_link_tag 'use_cases/use_cases' %>
<div class="wrap">

  <% if @use_case.status != 'public' %>
    <section class='useCase'>
        <p>This use case will appear in the AACT Gallery once it has been reviewed by CTTI staff. The submitter will be contacted to verify the content and confirm the information can be published.</p>
    </section>
  <% end %>

  <section class='useCase'>
    <p>
    <div class='useCase'>
      <p class='headingText'><%= @use_case.title %></p>
      <% if @use_case.image %>
        <a href='/use_case_attachments/<%= @use_case.image.id %>'>
          <p class='headingImage' align="middle">
          <%= image_tag url_for(:controller => "use_case_attachments", :action =>
"show",:id => @use_case.image.id) %>
          </p>
        </a>
      <% end %>
    </div>
    </p>

    <% if !@use_case.brief_summary.blank? %>
      <p><span class='useCaseLabel'>Summary:</span> <%= @use_case.brief_summary %></p>
    <% end %>

    <% if !@use_case.detailed_description.blank? %>
      <p><span class='useCaseLabel'>Details:</span> <%= @use_case.detailed_description %></p>
    <% end %>

    <% if @use_case.url %>
      <p><a href="<%= @use_case.linkable_url %>" target="_blank" ><%= @use_case.url %></a></p>
    <% end %>

    <% if !@use_case.attachment.nil? %>
      <p><span class='useCaseLabel'>Attachment:</span>&nbsp;&nbsp;
        <a href='/use_case_attachments/<%= @use_case.attachment.id %>'>
          <%= @use_case.attachment.file_name %>
        </a>
      </p>
    <% end %>

    <p><%= @use_case.submitter_name %></p>
    <p><%= @use_case.contact_info %></p>
    <p><span class='useCaseLabel'>Submitted:</span> <%= @use_case.created_at.strftime('%Y-%m-%d %T') %></p>

  </section>

  <div style="margin:30px;">
    <p><%= link_to 'Return to Gallery', use_cases_path %></p>
  </div>

</div>
