<%=  stylesheet_link_tag 'use_cases/use_cases' %>
<div class="wrap">

  <% if @use_case.status != 'public' %>
    <section id='useCase'>
      <div class='well'>
        <h5>This will soon appear in the AACT Gallery, but first needs to be reviewed by CTTI staff who will contact the person identified to verify the content and confirm they want this information published.</h5>
      </div>
    </section>
  <% end %>

  <br>

  <section id='useCase'>
    <h3>
    <% if !@use_case.url.blank? %>
      <a target='_blank' href='<%= @use_case.url %>'>
        <% if !@use_case.image.blank? %>
          <div style="float:left; margin-right:30px;bottom-margin:10rem;border-style: solid;border-width:2px;">
            <span style='padding:20px 20px 20px 20px;'><%= image_tag @use_case.image_url(:thumb) %></span>
            <h4 style='text-align:center;'>Click for More Info</h4>
          </div>
        <% end %>
      </a>
    <% else %>
        <% if !@use_case.image.blank? %>
          <div style="float:left; margin-right:30px;bottom-margin:10rem;border-style: solid;border-width:2px;">
            <span style='padding:20px 20px 20px 20px;'><%= image_tag @use_case.image_url(:thumb) %></span>
          </div>
        <% end %>
    <% end %>

    <h1 id='useCaseHeading'>
      <%= @use_case.title %>
    </h1>

    <p>
      <%= @use_case.brief_summary %>
    </p>

    <p>
      Contact: <%= @use_case.submitter_name %> - <%= @use_case.email %>
    </p>

    <div>
      <p>
        Details:
        <%= @use_case.detailed_description %>
      </p>
    </div>

    <% if !@use_case.url.nil? %>
        <a  target='_blank' href=<%= @use_case.url %>>
          <%= @use_case.url %>
        </a>
    <% end %>

    <% if !@use_case.attachment.nil? %>
      <p>Attachment:&nbsp;&nbsp;
        <a href='/use_case_attachments/<%= @use_case.attachment.id %>'>
          <%= @use_case.attachment.file_name %>
        </a>
      </p>
    <% end %>

  </section>

  <div style="margin:30px;">
    <p><%= link_to 'Return to Gallery', use_cases_path %></p>
  </div>

</div>
