<div class="wrap">
  <div class="basicHero">
    <h1>Connect to AACT using pgAdmin</h1>
  </div>
</div>

<section class="pgAdmin">
  <div class="wrap">

    <div class="step">
      <span class="stepNumber">1</span>
        <h3 class="stepName">Install Database Platform: <i>PostgreSQL</i></h3>
    </div>
    <p>AACT is currently running on version 9.5.2 of PostgreSQL; it's recommended you install this version or higher. Refer to the <a href='http://www.enterprisedb.com/products-services-training/pgdownload#macosx'>PostgreSQL Installation site</a> for the free software and installation instructions.</p>

    <div class="step">
      <span class="stepNumber">2</span>
        <h3 class="stepName">Install Database Query Tool:  <i>pgAdmin3</i></h3>
    </div>

    <p>
      Download version pgAdmin v1.22.1 or greater from the <a href="https://www.postgresql.org/ftp/pgadmin3/" target="_blank">PostgreSQL site</a>.
    </p>
    <p><a href="https://www.postgresql.org/ftp/pgadmin3/release/v1.22.1/osx/" target="_blank">Mac Users: </a> Click on the .dmg file (not .dmg.sig).</p>
    <p><a href="https://www.postgresql.org/ftp/pgadmin3/release/v1.22.1/win32/" target="_blank">PC Users:</a> Click on the .zip file (not .zip.sig).</p>

    <p>
      The following instructions present examples for pgAdmin3 on a PC. Screenshots will appear differently for other versions and/or operating systems.
    </p>

    <div class="step">
      <span class="stepNumber">3</span>
      <h3 class="stepName">Establish a connection to the AACT database</h3>
    </div>

    <p>
      Once pgAdmin3 is installed, open it and click on the plug icon in the upper left of the menu bar.
    </p>

    <%= image_tag("plug_icon.png") %>

    <p>
      Enter "New Server Registration" info with the following credentials.
    </p>
    <%= render 'access/credentials' %>


    <%= image_tag("newserver.png") %>

    <div class="step">
      <span class="stepNumber">4</span>
      <h3 class="stepName">Confirm Connection</h3>
    </div>

    <p>
      Click the AACT server icon that was just created in the left pane and scroll to the properties in the right pane to confirm that 'Connected?' status is 'Yes'.
    </p>

    <%= image_tag("connected.png") %>

    <div class="step">
      <span class="stepNumber">5</span>
      <h3 class="stepName">Select the AACT database</h3>
    </div>

    <p>
      Double click the AACT server icon to expand the folders and click the aact database folder within the server.
    </p>
    <p class="note">
      Note: There might be a red x over the database icon when you first navigate to this structure. It should go away after being clicked.
    </p>

    <%= image_tag("selectaact.png") %>


    <div class="step">
      <span class="stepNumber">6</span>
      <h3 class="stepName">Open the query window</h3>
    </div>

    <p>
    With the aact database selected click on the icon for "Execute Arbitrary SQL queries". It looks like a magnifying glass over a database icon with the letters "SQL" inside <%= image_tag("newquery.png", size: "40x50") %>.
    This will trigger a popout SQL query tool.
    </p>

    <%= image_tag("emptyquery.png") %>

    <div class="step">
      <span class="stepNumber">7</span>
      <h3 class="stepName">Execute a query</h3>
    </div>
    <p>
      Enter queries in the SQL Editor in the upper left, and run them against the AACT database by pressing the green triangular play button.
    </p>
    <%= image_tag("playquery.png") %>
    <p>
      A simple example of a query that has returns the number of studies in the AACT database:
    </p>
    <%= image_tag("countresults.png") %>

  </div>
</section>
