<section class="dataDictionaryShow">
  stylesheet_link_tag "jsgrid"
  stylesheet_link_tag "jsgrid.min"
  stylesheet_link_tag "jsgrid-theme"
  stylesheet_link_tag "jsgrid-theme.min"
  stylesheet_link_tag "dictionary/_grid"
  javascript_include_tag "jsgrid"
  javascript_include_tag "jsgrid.min"
  javascript_include_tag "dictionary"

  <main>
    <h1>AACT Data Dictionary</h1>
    <section>

      <p>AACT is composed of <%= @tables.size %> tables that provide information related to clinical trials. Every table is related by NCT ID to the Studies table. Click <a href='#tableDictionary'>here</a> to view a listing of all <%= @tables.size %> tables with description and row counts. Detailed information about all data elements included in these tables can be found in the data dictionary below.</p>
      <%= render 'pages/download_database_specs' %>
    </section>

    <h2>AACT Data Elements</h2>
    <%= render 'data_dictionary_instructions' %>
    <div class="gridContainer">
      <div id="jsGrid"></div>
    </div>
    <%= render 'table_dictionary' %>
  <main>

</section>
