<section class="access" id="access">

  <h2>Accessing AACT2</h2>

  <%= render 'access/intro' %>
  <%= render 'access/credentials' %>
  <h4 id="directDb">Direct access using database clients</h4>
  <%= render 'access/pgadmin' %>


  <h4 id="directAnalytic">Direct access using analytic tools</h4>
  <%= render 'access/r' %>
  <%= render 'access/sas' %>


  <h4 id="snapshots">Download archived snapshots</h4>
  <p>You can download the latest snapshot of the AACT2 database <a href="https://s3-us-west-2.amazonaws.com/aact2/snapshots/postgres.aact2.dump.<%= Date.today.strftime('%Y%m%d') %>-07%3A00.gz">here</a>, which was captured on <%= Date.today.strftime("%B %e") %> at 3am Eastern Standard Time.</p>
  <p>
    To see a list of all archived backups from the past three months, visit the <a href="">snapshot archive</a>.
  </p>

  <h4 id="replicate">Replicate current database</h4>


  <h4 id="csv">Download csv packages</h4>

  <p>
    You can download a csv package of the database from <a href="https://s3-us-west-2.amazonaws.com/aact2/csv-export-2016-06-28">this link</a>.
  </p>
</section>
