<section class="access" id="access">

  <h2>Accessing AACT2</h2>

  <%= render 'access/intro' %>
  <%= render 'access/credentials' %>
  <h4 id="directDb">Direct access using database clients</h4>
  <%= render 'access/pgadmin' %>


  <h4 id="directAnalytic">Direct access using analytic tools</h4>
  <%= render 'access/r' %>
  <%= render 'access/sas' %>


  <h4 id="snapshots">Download archived snapshots</h4>
  <%= render 'access/snapshots' %>

  <h4 id="replicate">Restore local database from AACT2 snapshot</h4>
  <%= render 'access/restore_snapshot' %>

  <h4 id="csv">Download pipe delimited packages</h4>
  <%= render 'access/download_package' %>

</section>
