<section class="learnMore">

  <p>AACT documentation may be downloaded from the following links:</p>
  <ul class='regularDisplay'>
        <li><a href=<%= @schema_diagram %> target="_blank" onClick="ga('send','event','download','download schema')"  >downloadable schema diagram</a> (right click on the resulting page to download)</li>
        <li><a href=<%= @admin_schema_diagram %> target="_blank" onClick="ga('send','event','download','download schema')"  >downloadable diagram of admin tables</a> (right click on the resulting page to download)</li>

        <% if @show_dictionary_link %>
          <li><a href=<%= @data_dictionary %> target="_blank" onClick="ga('send','event','download','download data dictionary')">excel version of data dictionary</a> (online searchable version also available <a href='/data_dictionary' target='_blank'>here</a>)</li>
        <% else %>
          <li><a href=<%= @data_dictionary %> target="_blank" onClick="ga('send','event','download','download data dictionary')">excel version of data dictionary</a></li>
        <% end %>
        <li><a href=<%= @table_dictionary %> target="_blank" onClick="ga('send','event','download','download data dictionary')">excel version of table definitions</a></li>

  </ul>

    <p>Please refer to the National Library of Medicine's (NLM) documentation for authoritative definitions of the data elements:</p>
    <ul class='regularDisplay'>
      <li><a href="https://prsinfo.clinicaltrials.gov/definitions.html" target="_blank" onClick="ga('send','event','external link','schema page: NLM Protocols')">registered protocol</a></li>
      <li><a href="https://prsinfo.clinicaltrials.gov/results_definitions.html" target="_blank" onClick="ga('send','event','external link','schema page: NLM Results')">study results</a></li>
    </ul>
    <% if @show_dictionary_link %>
      <p>The <a href='/data_dictionary' target='_blank'>online data dictionary</a> includes links to sections of this NLM documentation to provide documentation about specific data element.</p>
    <% end %>

</section>

