  <div class="wrap">
    <table class='file-archive'>
      <th>Downloadable File</>
      <th>Date Created</>
      <th>Size</>
      <%= @files.each do |file| %>
        <tr>
          <td class='file-name'><a href="<%= file[:url] %>" onClick="ga('send','event','download','download database')"><%= file[:name] %></a></td>
          <td class='file-created'><%= file[:date_created] %></td>
          <td class='file-size'><%= file[:size] %></td>
        </tr>
      <% end %>
    </table>
  </div>
