  <div class="wrap">
    <table class='file-archive'>
      <th class='file-archive'>Downloadable File</>
      <th class='file-archive'>Date Created</>
      <th class='file-archive'>Size</>
      <%= files.each do |file| %>
        <tr>
          <td class='file-archive'><a href="<%= file[:url] %>" onClick="ga('send','event','download','download database')"><%= file[:name] %></a></td>
          <td class='file-archive'><%= file[:date_created] %></td>
          <td class='file-archive'><%= file[:size] %></td>
        </tr>
      <% end %>
    </table>
  </div>
