
<section class="homeHero">


  <div class="copy">
    <h1>Improving the Public Interface for Use of Aggregate Data in ClinicalTrials.gov.</h1>

    <h4>What is AACT?</h4>
    <p>AACT is a publicly available relational database which contains all information (protocol and results data elements) about clinical studies that have been registered at ClinicalTrials.gov. Content is downloaded daily from ClinicalTrials.gov and loaded into AACT.   In Sept, 2016, CTTI enhanced AACT to include the following features: </p>
    <ul>
      <li>Database content refreshed daily</li>
      <li>Uses open source technologies (postgreSQL)</li>
      <li>Accessible in the Cloud</li>
      <li>Snapshots available for download</li>
      <li>Source code available via Github</li>
    </ul>
    <p>
      If you are interested in the original AACT data extracts from March, 2016 and earlier, please visit <a href="https://www.ctti-clinicaltrials.org/aact-database">the original AACT webpage</a>.
    </p>
  </div>

  <div class="circleButtons">

    <a href="/connect">
      <div class="iconWrap">
        <%= icon('plug') %>
      </div>
      <span>Connect
    </span>
    </a>

    <a href="/download_aact">
      <div class="iconWrap">
        <%= icon('download') %>
      </div>
      <span>Download
    </span>
    </a>

    <a href="/learn_more">
      <div class="iconWrap">
        <%= icon('university') %>
      </div>
      <span>Learn More
    </span>
    </a>

  </div>


  <div class="heroPanelRow">
    <a class="button small light" href="/points_to_consider">
      <%= icon('info-circle') %>
      <span class="type">Info for Researchers and Analysts</span>
      <span class="title">Guide to using AACT</span>
    </a>
    <a class="button big" href="#">
      <%= icon('newspaper-o') %>
      <span class="type">Publication</span>
      <span class="title">News</span>
    </a>
  </div>

</section>
