
<section class="homeHero">


  <div class="copy">
    <h1>Here to make clinical trials data easier to access and understand.</h1>

    <p>The Aggregate Analysis of ClincalTrials.gov (AACT Version 2.0) provides direct and downloadable access to publicly available data from ClinicalTrials.gov.</p>

  </div>

  <div class="circleButtons">

    <a href="/connect">
      <div class="iconWrap">
        <%= icon('plug') %>
      </div>
      <span>Connect
    </span>
    </a>

    <a href="/download_aact">
      <div class="iconWrap">
        <%= icon('download') %>
      </div>
      <span>Download
    </span>
    </a>

    <a href="/learn_more">
      <div class="iconWrap">
        <%= icon('university') %>
      </div>
      <span>Learn More
    </span>
    </a>

  </div>


  <div class="heroPanelRow">
    <a class="button small light" href="/points_to_consider">
      <%= icon('info-circle') %>
      <span class="type">Recommendation</span>
      <span class="title">Points to Consider</span>
    </a>
    <a class="button big" href="#">
      <%= icon('newspaper-o') %>
      <span class="type">Publication</span>
      <span class="title">News</span>
    </a>
  </div>

</section>
