<pre>
  <p class='code'>
    <% if user_signed_in? %>
 <span class='command-prompt'>-&gt; </span><span class='command-entry'> PGPASSWORD=<span class='command-note'> <i>'your AACT password'</i> </span> psql --host <%=  ENV["AACT_PUBLIC_HOSTNAME"] %> --port=5432 --username='<%= current_user.username %>' --dbname=<%= ENV["AACT_PUBLIC_DATABASE_NAME"] %></span>
    <% else %>
    <span class='command-prompt'>-&gt; </span><span class='command-entry'> PGPASSWORD=<span class='command-note'>your AACT password</span> psql --host <%=  ENV["AACT_PUBLIC_HOSTNAME"] %> --port=5432 --username=<span class='command-note'>(sign up/in to get a username)</span> --dbname=<%= ENV["AACT_PUBLIC_DATABASE_NAME"] %></span>
    <% end %>
    <span class='command-response'> </span>
    <span class='command-response'>  psql (9.5.3, server <%= ENV['DB_VERSION'] %>)</span>
    <span class='command-response'>  SSL connection (protocol: TLSv1.2, cipher: ECDHE-RSA-AES256-GCM-SHA384, bits: 256, compression: off)</span>
    <span class='command-response'>  Type "help" for help.</span>
    <span class='command-response'> </span>
    <span class='command-prompt'>aact=&gt; _</span>
  </p>
</pre>
<p>
The  <i><span class='command-prompt'>aact=&gt; </span></i>  prompt indicates that you're in a pSQL console session and can enter SQL queries against the AACT database. A simple example:
</p>
<pre>
  <p class='code'>
   <span class='command-prompt'>aact=&gt; </span><span class='command-entry'> select count(*) from studies;</span>
    <span class='command-response'> </span>
    <span class='command-response'>  count</span>
    <span class='command-response'>  --------</span>
    <span class='command-response'>  <%= Study.count %></span>
    <span class='command-response'>  (1 row)</span>
    <span class='command-response'> </span>
    <span class='command-prompt'>aact=&gt; _</span>
  </p>
</pre>
