<h2>Accessing AACT2</h2>

<%= render 'access/intro' %>
<%= render 'access/credentials' %>
<h4 id="directDb">Direct access using database clients</h4>
<%= render 'access/pgadmin' %>


<h4 id="directAnalytic">Direct access using analytic tools</h4>
<%= render 'access/r' %>
<%= render 'access/sas' %>
