<div class="wrap">

  <div class="basicHero">
    <h1>Connect to AACT</h1>
     <p>As a cloud-hosted PostgreSQL database, AACT can be directly accessed via standard query & analytic tools. Several popular tools, such as pgAdmin and RStudio, are free and relatively easy to install and configure. Other proprietary tools are popular and provide powerful analytic and/or relational database utility; these tools include SAS, Toad, and Tableau. In many cases, access is a matter of installing the software package, configuring it to use PostgreSQL, and providing AACT connection credentials.
     </p>
     <p>Connecting directly is recommended for users who want to run analyses or queries using the most current, live data.</p>
  </div>

  <section class="connect">
  <div class="connectionTypes">
    <a href="/pgadmin" class="connectionCard">
      <h4>pgAdmin</h4>
      <p>
      Click here for instructions on how to use a standard graphical user interface to query the cloud-based AACT directly with SQL.
      </p>
      <%= icon("plug") %>
    </a>

    <a href="/r" class="connectionCard">
      <h4>R and RStudio</h4>
      <p>
      Click here for instructions about how to use R/RStudio to analyze the AACT data directly.
      </p>
      <%= icon("plug") %>
    </a>

    <a href="/sas" class="connectionCard">
      <h4>SAS</h4>
      <p>
      Click here for instructions about how to use SAS to analyze the AACT data directly.
      </p>
      <%= icon("plug") %>
    </a>

  </div>

  <div class="connectionTypes">

    <a href="/psql" class="connectionCard">
      <h4>pSQL</h4>
      <p>
      Click here to receive instructions on how to use the command line PostgreSQL tool to query the cloud-based AACT directly with SQL.
      </p>
      <%= icon("plug") %>
    </a>

    <a href="/api_docs" class="connectionCard">
      <h4>Web API (Application Program Interface)</h4>
      <p>
       Users interested in accessing the data via another application or program (in XML or json format), should click here for AACT API syntax.
      </p>
      <%= icon("plug") %>
    </a>
  </div>

    <h2>Credentials</h2>
    <p>You will need the following information to access the database directly in the cloud.</p>
    <%= render 'access/credentials' %>

</div>
</section>
