<%= render 'pages/home_hero' %>

<div class="wrap homeContent">
  <%= render 'docs_menu' %>

  <section class="documentation">
    <%= render 'overview' %>
    <%= render 'faqs' %>
    <%= render 'access' %>
    <%= render 'content' %>
    <%= render 'gallery' %>
  </section>

</div>
