<%= render 'pages/home_hero' %>

<%= render 'pages/home_about' %>

<section class="documentation">

  <div class="wrap">

    <h2>Accessing AACT2</h2>

    <div class="copy">
      <%= render 'docs/credentials' %>
      <%= render 'docs/r' %>
      <%= render 'docs/sas' %>
      <%= render 'docs/pgadmin' %>
    </div>

  </div>
</section>
