<section class="basicHero">

  <div class="copy">
    <h1>Improving Public Access to Aggregate Content of ClinicalTrials.gov</h1>

    <h3>What is AACT?</h3>
    <p>AACT is a publicly available relational database that contains all information (protocol and result data elements) about every study registered in ClinicalTrials.gov. Content is downloaded from ClinicalTrials.gov daily and loaded into AACT. The Clinical Trials Transformation Initiative (CTTI) enhanced AACT in October, 2016 to include the following features:</p>
    <ul class='regularDisplay indent'>
      <li>Database content refreshed daily</li>
      <li>Database directly accessible in the cloud</li>
      <li>Static copies of the database available for download</li>
      <li>Open source tools freely available (postgreSQL, Ruby on Rails, Tableau Public)</li>
      <li>Source code available via <a target='_blank' href='https://github.com/ctti-clinicaltrials/aact'>Github</a></li>
    </ul>
  <p>
    If you're interested in data extracted via the original AACT system (March, 2016 and earlier), please visit <a href="https://www.ctti-clinicaltrials.org/aact-database">the original AACT webpage</a>.
  </p>
  </div>

  <div class="circleButtons">

    <a href="/connect">
      <div class="iconWrap">
        <%= fa_icon('plug') %>
      </div>
      <span>Connect
    </span>
    </a>

    <a href="/download">
      <div class="iconWrap">
        <%= fa_icon('download') %>
      </div>
      <span>Download
    </span>
    </a>

    <a href="/learn_more">
      <div class="iconWrap">
        <%= fa_icon('university') %>
      </div>
      <span>Learn
    </span>
    </a>

    <% if  (!current_user.nil? and ENV['AACT_ADMIN_USERNAMES'].split(',').include? current_user.username) %>
      <a href="/users">
        <div class="iconWrap">
          <%= fa_icon('address-book') %>
        </div>
        <span>Users
      </span>
      </a>
    <% end %>

  </div>
</section>

<section class="homeHero">
  <div class="heroPanelRow">
    <a href="/points_to_consider" class="button small">
      <span class="type">Practical Info for Researchers and Analysts</span>
      <span class="title">Researcher's Guide to Using AACT</span>
      <%= fa_icon('info-circle') %>
    </a>

    <a href='https://www.ctti-clinicaltrials.org/briefing-room/publications' target='_blank' class='button small light'>
      <span class="type">News</span>
      <span class="title">Related Publications</span>
    </a>

    <a href="https://www.bmj.com/content/361/bmj.k1452" target='_blank' class="button big">
      <span class="type">More Practical Advice</span>
      <span class="title">How to avoid common problems when using ClinicalTrials.gov in research</span>
      <%= fa_icon('info-circle') %>
    </a>

  </div>
</section>

