<div class="wrap">
  <div class="basicHero">
    <h1>Learn more about AACT</h1>
  </div>
</div>

<section class='learnMore'>

  <div class='learnMoreCards'>
    <a href='/schema' class='learnMoreCard'>
      <h3>Database Schema</h3>
      <p>
        Review the blueprint that describes how AACT is structured and how ClinicalTrials.gov protocol & result data have been organized into related tables. Also defines the conventions and considerations that went into the db design.
      </p>
      <%= fa_icon('database') %>
    </a>

    <a href='/data_dictionary' class='learnMoreCard'>
      <h3>Data Dictionary</h3>
      <p>
       Access detailed information about all AACT data elements and how they relate to ClinicalTrials.gov information and corresponding definitions from the National Library or Medicine’s data definitions.
      </p>
      <%= fa_icon('graduation-cap') %>
    </a>
  </div>

  <div class='learnMoreCards'>
    <a href='/points_to_consider' class='learnMoreCard'>
      <h3>Researcher's Guide to Using the AACT Database</h3>
      <p>
      Reference guidelines for investigators to consider when planning a statistical analysis of the ClinicalTrials.gov data. This focuses on the content of the database and how to use it to conduct research.
      </p>
      <%= fa_icon('terminal') %>
    </a>

    <a href='/use_cases' class='learnMoreCard'>
      <h3>Gallery</h3>
      <p>Find out what others are doing with AACT & share your own work.</p>
      <%= fa_icon('area-chart') %>
    </a>

    <a href='/background' class='learnMoreCard'>
      <h3>Additional Background</h3>
      <p>Learn the fundamental objectives of AACT and the reasons we think it's important to make this information available to the public.</p>
      <%= fa_icon('question-circle-o') %>
    </a>
  </div>
  <div class='learnMoreCards'>
    <a href='/release_notes' class='learnMoreCard'>
      <h3>Release Notes</h3>
      <p>Read summary descriptions about changes made in each version/upgrade of AACT.</p>
      <%= fa_icon('question-circle-o') %>
    </a>
    <a href='/update_policy' class='learnMoreCard'>
      <h3>Database Update Schedule</h3>
      <p>Describes the policy and schedule for updating the live database and generating downloadable versions of AACT.</p>
      <%= fa_icon('area-chart') %>
    </a>
  </div>
  </div>
</section>
