<div class="wrap">
  <div class="basicHero">
    <h1>Learn more about AACT</h1>
  </div>
</div>

<section class="learnMore">

  <div class="learnMoreCards">

    <a href=<%= @schema_diagram %> target="_blank" class="learnMoreCard">
      <h3>Schema</h3>
      <p>
        Provides a blueprint for how AACT is structured and how ClinicalTrials.gov protocol & result data have been organized into related tables. Defines the conventions and considerations that went into the db design.
      </p>
      <%= icon("database") %>
    </a>

    <a href="/data_dictionary" class="learnMoreCard">
      <h3>Data Dictionary</h3>
      <p>
       Provides detailed information about all AACT data elements and how they relate to ClinicalTrials.gov information and corresponding definitions from the National Library or Medicine’s data definitions.
      </p>
      <%= icon("graduation-cap") %>
    </a>
  </div>

  <div class="learnMoreCards">
    <a href="points_to_consider" class="learnMoreCard">
      <h3>AACT Guide for Researchers and Analysts</h3>
      <p>
      Provides guidelines for investigators to consider when planning a statistical analysis of the ClinicalTrials.gov database. This focuses on the content of the database and how to use it to conduct research.
      </p>
      <%= icon("terminal") %>
    </a>

    <a href="/" class="learnMoreCard">
      <h3>Frequently Asked Questions</h3>
      <%= icon("question-circle-o") %>
      <p>
        Sample Queries & Analyses
      </p>
    </a>

  </div>

  <div class="overview">
    <div class="wrap">
      <%= render 'overview' %>
    </div>
  </div>

</section>
