<div class="wrap">

  <div class="basicHero">
    <h1>News and Events</h1>
  </div>

</div>

<section class='news'>
  <div class='wrap'>
    <table class='news'>

      <tr>
        <td><%= image_tag('nih_logo.jpg', :size => '50x40', :title => 'NIH Article') %></td>
        <td>Sept 16, 2016 </td>
        <td><a target='_blank' href='https://www.nih.gov/news-events/news-releases/hhs-take-steps-provide-more-information-about-clinical-trials-public'><i>HHS takes steps to provide more information about clinical trials to the public</i></a></td>
        <td><i class="fa fa-file-text-o" aria-hidden="true"></i></td>
        <td><%= link_to 'sfsd', 'www.duke.edu', :title => "this text appears when you hover" %></td>
      </tr>

      <tr>
        <td><%= image_tag('nih_logo.jpg', :size => '50x40', :title => 'NIH Article') %></td>
        <td>Sept 16, 2016 </td>
        <td><a target='_blank' href='https://nexus.od.nih.gov/all/2016/09/16/visibility-of-clinical-trial-activities-and-results/'><i>Improving Visibility of NIH-supported Clinical Trial Activities and Results</i></a></td>
        <td><i class="fa fa-file-text-o" aria-hidden="true"></i></td>
      </tr>

      <tr>
        <td><%= image_tag('nih_logo.jpg', :size => '50x40', :title => 'NIH Video') %></td>
        <td>Sept 16, 2016 </td>
        <td><a target='_blank' href='https://www.youtube.com/watch?v=cPF7gGbCuWQ'><i>Dr. Francis Collins, NIH - discusses the HHS Final Rule and NIH Policy on Clinical Trials Reporting</i></a></td>
        <td><i class="fa fa-video-camera"></i></td>
      </tr>

      <tr>
        <td><%= image_tag('npr_logo.jpg', :size => '50x40', :title => 'NPR Article') %></td>
        <td>Sept 16, 2016 </td>
        <td><a target='_blank' href='http://www.npr.org/sections/health-shots/2016/09/16/494231378/hhs-issues-new-rules-to-open-up-data-from-clinical-trials'><i>HHS Issues New Rules To Open Up Data From Clinical Trials</i></a></td>
        <td><i class="fa fa-file-text-o" aria-hidden="true"></i></td>
      </tr>

      <tr>
        <td><%= image_tag('fda_logo.jpg', :size => '50x40', :title=> 'FDA Video') %></td>
        <td>June 12, 2015 </td>
        <td><a target='_blank' href='https://www.youtube.com/watch?v=4owNY1r7SWM'><i>openFDA: a project indexing and formatting FDA data to make it accessible to the public.</i></a></td>
        <td><i class='fa fa-video-camera'></i></td>
      </tr>
    </table>
  </div>
</section>
