<div class="wrap">

  <div class="basicHero">
    <h2>News and Publications</h2>
  </div>

</div>

<section class='news'>
  <div class='wrap'>
    <h4>News</h4>
    <table class='news'>

      <tr>
        <td align='center'>PharmExec.com</td>
        <td>Sept 19, 2016 </td>
        <td><i>NIH, FDA Seek Broader Disclosure of Clinical Trial Results</i>
          <a target='_blank' href='http://www.pharmexec.com/nih-fda-seek-broader-disclosure-clinical-trial-results', title='Read article by Jill Wechsler'><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
        </td>
      </tr>

      <tr>
        <td align='center'><%= image_tag('nejm_logo.jpg', :size => '40x40', :title => 'New England Journal of Medicine') %></td>
        <td>Sept 16, 2016 </td>
        <td><i>Trial Reporting in ClinicalTrials.gov — The Final Rule.&nbsp;&nbsp;</i>
          <a target='_blank' href='http://www.nejm.org/doi/full/10.1056/NEJMsr1611785?query=OF&', title='Read article by Deborah A. Zarin, M.D., Tony Tse, Ph.D., Rebecca J. Williams, Pharm.D., M.P.H., and Sarah Carr, B.A.'><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
        </td>
      </tr>

      <tr>
        <td align='center'><%= image_tag('nih_logo.jpg', :size => '50x40', :title => 'NIH Article') %></td>
        <td>Sept 16, 2016 </td>
        <td><i>HHS takes steps to provide more information about clinical trials to the public.&nbsp;&nbsp;</i>
          <a target='_blank' href='https://www.nih.gov/news-events/news-releases/hhs-take-steps-provide-more-information-about-clinical-trials-public', title='Read NIH news release article'><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
        </td>
      </tr>

      <tr>
        <td align='center'><%= image_tag('nih_logo.jpg', :size => '50x40', :title => 'NIH Article') %></td>
        <td>Sept 16, 2016 </td>
        <td><i>Improving Visibility of NIH-supported Clinical Trial Activities and Results.&nbsp;&nbsp;</i>
          <a target='_blank' href='https://nexus.od.nih.gov/all/2016/09/16/visibility-of-clinical-trial-activities-and-results.', title='Read article by Mike Lauer and Carrie Wolinetz'><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
        </td>
      </tr>

      <tr>
        <td align='center'><%= image_tag('nih_logo.jpg', :size => '50x40', :title => 'NIH Video') %></td>
        <td>Sept 16, 2016 </td>
        <td><i>Dr. Francis Collins, NIH - discusses the HHS Final Rule and NIH Policy on Clinical Trials Reporting.&nbsp;&nbsp;</i>
          <a target='_blank' href='https://www.youtube.com/watch?v=cPF7gGbCuWQ', title='Watch video'><i class="fa fa-video-camera"></i></a>
        </td>
      </tr>

      <tr>
        <td align='center'><%= image_tag('npr_logo.jpg', :size => '40x40', :title => 'NPR Article') %></td>
        <td>Sept 16, 2016 </td>
        <td><i>HHS Issues New Rules To Open Up Data From Clinical Trials.&nbsp;&nbsp;</i><a target='_blank' href='http://www.npr.org/sections/health-shots/2016/09/16/494231378/hhs-issues-new-rules-to-open-up-data-from-clinical-trials', title='Read article by Richard Harris'><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
        </td>
      </tr>

      <tr>
        <td align='center'><%= image_tag('fda_logo.jpg', :size => '50x40', :title=> 'FDA Video') %></td>
        <td>June 12, 2015 </td>
        <td><i>openFDA: a project indexing and formatting FDA data to make it accessible to the public.&nbsp;&nbsp;</i><a target='_blank' href='https://www.youtube.com/watch?v=4owNY1r7SWM', title='Watch video'><i class='fa fa-video-camera'></i></a>
        </td>
      </tr>
    </table>
  </div>

  <div class='wrap'>
    <h4>Publications</h4>
    <table class='news'>

      <tr>
        <td align='center'>PharmExec.com</td>
        <td>Sept 19, 2016 </td>
        <td><i>NIH, FDA Seek Broader Disclosure of Clinical Trial Results</i>
          <a target='_blank' href='http://www.pharmexec.com/nih-fda-seek-broader-disclosure-clinical-trial-results', title='Read article by Jill Wechsler'><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
        </td>
      </tr>

      <tr>
        <td align='center'><%= image_tag('nejm_logo.jpg', :size => '40x40', :title => 'New England Journal of Medicine') %></td>
        <td>Sept 16, 2016 </td>
        <td><i>Trial Reporting in ClinicalTrials.gov — The Final Rule.&nbsp;&nbsp;</i>
          <a target='_blank' href='http://www.nejm.org/doi/full/10.1056/NEJMsr1611785?query=OF&', title='Read article by Deborah A. Zarin, M.D., Tony Tse, Ph.D., Rebecca J. Williams, Pharm.D., M.P.H., and Sarah Carr, B.A.'><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
        </td>
      </tr>

      <tr>
        <td align='center'><%= image_tag('nih_logo.jpg', :size => '50x40', :title => 'NIH Article') %></td>
        <td>Sept 16, 2016 </td>
        <td><i>HHS takes steps to provide more information about clinical trials to the public.&nbsp;&nbsp;</i>
          <a target='_blank' href='https://www.nih.gov/news-events/news-releases/hhs-take-steps-provide-more-information-about-clinical-trials-public', title='Read NIH news release article'><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
        </td>
      </tr>

      <tr>
        <td align='center'><%= image_tag('nih_logo.jpg', :size => '50x40', :title => 'NIH Article') %></td>
        <td>Sept 16, 2016 </td>
        <td><i>Improving Visibility of NIH-supported Clinical Trial Activities and Results.&nbsp;&nbsp;</i>
          <a target='_blank' href='https://nexus.od.nih.gov/all/2016/09/16/visibility-of-clinical-trial-activities-and-results.', title='Read article by Mike Lauer and Carrie Wolinetz'><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
        </td>
      </tr>
    </table>

  </div>
</section>
