<div class="wrap">
  <div class="basicHero">
    <h1>Query AACT with pgAdmin</h1>
  </div>
  <p>
  pgAdmin is a free, reliable, open source graphical query tool that can be used to access any postgreSQL database. A wealth of information about pgAdmin is available on the internet including the <a href='https://www.pgadmin.org/docs/1.22/main.html' target='_blank'>pgAdmin III Documenation Website.</a>  Using pgAdmin necessitates that you install postgreSQL on your local machine, even though you need not download the AACT database to your local machine.  Use of this tool assumes a basic understanding of SQL.
  </p>

</div>

<section class="pgAdmin">
  <div class="wrap">

    <div class="step">
      <span class="stepNumber">1</span>
        <h3 class="stepName">Install Database Platform: <i>PostgreSQL</i></h3>
    </div>
    <p>AACT is currently running on version <%= ENV['DB_VERSION'] %> of PostgreSQL; it's recommended you install this version or higher. Refer to <a href='http://www.enterprisedb.com/products-services-training/pgdownload#macosx' target='_blank'>PostgreSQL Downloads</a> for free software and installation instructions.</p>

    <div class="step">
      <span class="stepNumber">2</span>
        <h3 class="stepName">Install Database Query Tool:  <i>pgAdmin3</i></h3>
    </div>

    <p>
      Download version pgAdmin v1.22.1 or greater from the <a href="https://www.postgresql.org/ftp/pgadmin3/" target="_blank">PostgreSQL site</a>.
    </p>
    <p><a href="https://www.postgresql.org/ftp/pgadmin3/release/v1.22.1/osx/" target="_blank">Mac Users: </a> Click on the .dmg file (not .dmg.sig).</p>
    <p><a href="https://www.postgresql.org/ftp/pgadmin3/release/v1.22.1/win32/" target="_blank">PC Users:</a> Click on the .zip file (not .zip.sig).</p>

    <p>
      The following instructions present examples for pgAdmin3 on a PC. Screenshots will appear differently for other versions and/or operating systems.
    </p>

    <div class="step">
      <span class="stepNumber">3</span>
      <h3 class="stepName">Establish a Connection to AACT</h3>
    </div>

    <p>
      Once pgAdmin3 is installed, launch the application and click on the plug icon in the upper left of the top menu bar.
    </p>

    <%= image_tag("plug_icon.png") %>

    <p>
      Enter "New Server Registration" info with the following credentials and press [OK] in the lower right of the dialog box.
    </p>
    <%= render 'credentials/credentials' %>


    <%= image_tag("newserver.png") %>

    <div class="step">
      <span class="stepNumber">4</span>
      <h3 class="stepName">Confirm Connection</h3>
    </div>

    <p>
      Click the AACT server icon that was just created in the left pane and scroll to the property in the right pane to confirm that 'Connected?' status is 'Yes'.
    </p>

    <%= image_tag("connected.png") %>

    <div class="step">
      <span class="stepNumber">5</span>
      <h3 class="stepName">Select the AACT Database</h3>
    </div>

    <p>
      Double click the AACT server icon to expand the folder. Under 'Databases', click AACT.  (Note: There might be a red x over the database icon when you first navigate to this structure. It should go away after being clicked.)
    </p>

    <%= image_tag("selectaact.png") %>


    <div class="step">
      <span class="stepNumber">6</span>
      <h3 class="stepName">Open Query Window</h3>
    </div>

    <p>With the AACT database selected, click the 'SQL' icon from the top menu bar.<p>
    <div id='new-query'><p><%= image_tag('new_query.png') %></p></div>
    <p>This will trigger a popout dialog tool that allows you to enter SQL queries.</p>

    <p><%= image_tag("emptyquery.png") %></p>

    <div class="step">
      <span class="stepNumber">7</span>
      <h3 class="stepName">Execute Query</h3>
    </div>
    <p>
      Enter queries in the SQL Editor in the upper left, and run them against the AACT database by pressing the green triangular play button.
    </p>
    <%= image_tag("playquery.png") %>
    <p>
      A simple example of a query that returns the number of studies in the AACT database:
    </p>
    <%= image_tag("countresults.png") %>

  </div>
</section>
