<div class="wrap">

  <div class="basicHero">
    <h1>Connect to AACT using R</h1>
  </div>

  <p>'R' is a free, reliable and popular software environment for statistical computing and graphics. It compiles and runs on a wide variety of UNIX platforms, Windows and MacOS.  R provides one of the easiest and cheapest ways to access and analyze the wealth of information in the AACT database.</p>
  <p>You can access the PostgreSQL AACT database in the cloud using 'R' without needing to install PostgreSQL on your local machine.</p>
</div>

<section class="rAccess">
  <div class="wrap">

    <%= render 'install_r' %>

    <div class="step">
      <span class="stepNumber">2</span>
      <h3 class="stepName">Connect R (or RStudio) to AACT</h3>
    </div>

    <p>Once R is installed, launch R (or RStudio) and enter the following commands at the prompts.</p>
    <pre>
      <p class='code'>
        <span class='command-prompt'>> </span><span class='command-entry'> install.packages("RPostgreSQL")</span>
        <span class='command-response'>trying URL 'https://cran.rstudio.com/bin/macosx/mavericks/contrib/3.3/RPostgreSQL_0.4-1.tgz'</span>
        <span class='command-response'>Content type 'application/x-gzip' length 306320 bytes (299 KB)</span>
        <span class='command-response'>==================================================</span>
        <span class='command-response'>downloaded 299 KB</span>
        <span class='command-prompt'>> </span><span class='command-entry'> library(RPostgreSQL)</span>
        <span class='command-response'>Loading required package: DBI</span>
        <span class='command-prompt'>> </span><span class='command-entry'> drv &lt;- dbDriver('PostgreSQL')</span>

        <% if user_signed_in? %>
        <span class='command-prompt'>> </span><span class='command-entry'> con &lt;- dbConnect(drv, dbname="<%= ENV['AACT_PUBLIC_DATABASE_NAME'] %>",host="<%= ENV['AACT_PUBLIC_HOSTNAME'] %>", port=5432, user="<%= current_user.username %>", password="<span class='command-note'><i>'your AACT password' </i></span>")</span>
        <% else %>
        <span class='command-prompt'>> </span><span class='command-entry'> con &lt;- dbConnect(drv, dbname="<%= ENV['AACT_PUBLIC_DATABASE_NAME'] %>",host="<%= ENV['AACT_PUBLIC_HOSTNAME'] %>", port=5432, user=<span class='command-note'>(sign up/in to get a username)<span>, password="</span><span class='command-note'><i>'your AACT password' </i></span><span class=command-entry'>")</span>
        <% end %>

        <span class='command-prompt'>> </span><span class='command-entry'> aact_sample <- dbGetQuery(con, "select distinct study_type from studies")</span>
        <span class='command-prompt'>> </span><span class='command-entry'> write.csv(aact_sample, file='aact_sample.csv')</span>
        <span class='command-prompt'>> </span><span class='command-entry'> print(aact_sample)</span>
      </p>
    </pre>

    <h2>Credentials</h2>
    <p>You will need the following information to access the database directly in the cloud.</p>
    <%= render 'credentials/credentials' %>

  </div>
</section>
