<h2 id="background">Release Notes</h2>

<hr>
<main>
  <%= render 'release_notes/v3.1.2' %>
</main>

<hr>
<main>
  <%= render 'release_notes/v3.1.1' %>
</main>

<hr>
<main>
  <%= render 'release_notes/v3.1.0' %>
</main>

<hr>
<main>
  <%= render 'release_notes/v3.0.2' %>
</main>

<hr>
<main>
  <%= render 'release_notes/v3.0.1' %>
</main>

<hr>
<main>
  <%= render 'release_notes/v3.0.0' %>
</main>

<hr>
<main>
  <%= render 'release_notes/v2.0.5' %>
</main>

<hr>
<main>
  <%= render 'release_notes/v2.0.4' %>
</main>

<hr>
<main>
  <%= render 'release_notes/v2.0.3' %>
</main>

<hr>
<main>
  <%= render 'release_notes/v2.0.2' %>
</main>

<hr>
<main>
  <%= render 'release_notes/v2.0.1' %>
</main>

<hr>
<main>
  <%= render 'release_notes/v2.0.0' %>
</main>
