
<div class="wrap">
    <h1>Snapshot Archive</h1>
</div>

  <p>
    Most recent snapshot:  <a href="<%= @snapshot_exports %>/postgres.aact.dump.<%= Date.today.strftime('%Y%m%d') %>-02%3A00.gz"><%= Date.today.strftime('%B %e %Y') %></a>
  </p>

<section class="snapshot_archive">
  <div class="wrap">
    <table>
      <th>Created</>
      <th>Size</>
      <%= @files.each do |file| %>
        <tr>
          <td><a href="<%= file[:url] %>"><%= file[:last_modified] %></a></td><td><%= file[:size] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</section>
