<section class="snapshots">

  <div class="wrap">
    <div class="basicHero">
      <h1>Create Local Database from Static Copy of AACT</h1>
    </div>

    <p>If you would like to work with the complete set of clinical trials on your own computer... install PostgreSQL locally, download a static copy of the AACT database, and populate a local PostgreSQL AACT database instance with the data. This page provides the instructions.</p>

    <%= render 'install_postgres' %>

    <div class="step">
      <span class="stepNumber">2</span>
      <h3 class="stepName">Download Package Containing Static Copy of AACT Database</h3>
    </div>

    <p>Download a zip file that contains the AACT database file. With a single command (see below), this file can be used to automatically configure the database & populate it with the clinical trials dataset. The zip file also contains documentation that describes the database at the time the static copy was created. (The download typically takes 3-7 minutes, depending on your network speed.)</p>

    <h4>Current Month's Daily Static Copies</h4>
    <p><%= render 'file_archive', :files => @daily_files %></p>

    <h4>Monthly Archive of Static Copies</h4>
    <p><%= render 'file_archive', :files => @archive_files %></p>

    <div class="step">
      <span class="stepNumber">3</span>
      <h3 class="stepName">Populate Local PostgreSQL Database from the Static Copy</h3>
    </div>

    <p>Once PostgreSQL is installed on your local machine and you have downloaded an AACT database package, you can create and populate your own database. You have two alternatives for installing it: 1) via a terminal session using command lines or 2) via a graphical user interface (GUI) such as <i>pgAdmin</i>. The command line option is somewhat simpler, so we've highlighted instructions for this below and provided guidance for using the GUI <a href='/snapshots#createDbViaGui'>here</a>.</p>


    <h4>Database Creation Via Command Line</h4>
    <h5>Open a terminal session</h5>
    <ul class='regularDisplay'>
      <li>On a Mac: press [Command] [Spacebar] and enter 'Terminal' in the 'Spotlight Search' dialog that pops up. </li>
      <li>On a PC: press [Start] and enter 'CMD' in the command input box.</li>
    </ul>
    <p>This should open a terminal session where you can enter the following commands.</p>

    <h5>Initialize empty postgres database: aact</h5>

    <p>After postgres is installed on your local machine, enter the following command to initialize the AACT database. (You might get the error message 'already exists' if the database was already created; no harm done.)
    <p class='CodeRay'>
      <pre>
        <p class='code'>
          <span class='command-prompt'>-&gt; </span><span class='command-entry'> createdb aact </i></span> <span class='command-prompt'></span>
          <span class='command-response'> createdb: database creation failed: ERROR:  database "aact" already exists </span>
        </p>
      </pre>
    </p>

    <h5>Locate and unzip the database package/zipfile</h5>
    <p>Verify the location of the database package you downloaded in step 2 - both the path and the file name. You'll need to unzip this package and use the data dump file it contains to create and populate your own, local instance of the database.</p>
    <ul class='regularDisplay'>
      <li>On a Mac: The zip package is probably here: <i>~/Downloads/YYYYMMDD_clinical_trials.zip</i> (where YYYYMMDD is the date the database was copied).</li>
    </ul>

    <p class='CodeRay'>
      <pre>
        <p class='code'>
          <span class='command-prompt'>-&gt; </span><span class='command-entry'> unzip <i>~/Downloads/YYYYMMDD_clinical_trials.zip </i></span>
        </p>
      </pre>
    </p>
    <p>This will unpack the files contained in the zip package and save them to the directory where the zip file exists. These files include:</p>
  </ul>
    <ul class='regularDisplay'>
      <li><i>schema_diagram.png</i> Database schema diagram that illustrates the relationships between tables.</li>
      <li><i>postgres_data.dmp</i> Postgres dump file containing all the instructions and data required to create a local copy of the AACT database.</li>
      <li><i>data_dictionary.xlsx</i> Spreadsheet that describes all tables and columns in the AACT database.</li>
      <li><i>nlm_protocol_definitions.html</i>Copy of the National Library of Medicine: ClinicalTrials.gov protocol-related documentation</li>
      <li><i>nlm_result_definitions.html</i>Copy of the National Library of Medicine: ClinicalTrials.gov results-related documentation</li>
    </ul>

    <h5>Create and populate your local database instance</h5>
    <p>Enter the following command to create all database tables in <i>aact</i> and then populate them with clinical trials data.</p>
    <p class="note">This typically takes 10-20 minutes, depending on the speed of your machine.</p>

    <p class='CodeRay'>
      <pre>
        <p class='code'>
          <span class='command-prompt'>-&gt; </span><span class='command-entry'> pg_restore -e -v -O -x --dbname=postgres</i> --no-owner --clean --create  <i>~/Downloads/postgres_data.dmp</i></span>
        </p>
      </pre>
    </p>

    <h5>Verify the database</h5>

    <p>Confirm the download was successful by logging into the database and perusing the data.</p>
    <p><%= render partial: 'psql_local_login' %></p>

    <p id='createDbViaGui'><%= render 'create_db_via_gui' %></p>

    <p><%= render 'create_db_troubleshooting' %></p>

  </div>
</section>
