<div class="wrap">
  <div class="basicHero">
    <h1>Create Local Database from AACT Snapshots</h1>
  </div>
</div>

<section class="snapshots">
<div class="wrap">

  <p>If you would like to work with the full dataset on your own machine, install PostgreSQL locally, download an AACT database snapshot, and populate a local PostgreSQL database instance with it.</p>

  <%= render 'install_postgres' %>

  <div class="step">
    <span class="stepNumber">2</span>
    <h3 class="stepName">Download an AACT Database Snapshot</h3>
  </div>

  <p>
    Most recent: <a href="<%= @most_recent[:url] %>"><%= @most_recent[:last_modified] %></a> (<%= @most_recent[:size] %>)
  </p>

  <p>
    <%= render 'file_archive' %>
  </p>

  <div class="step">
    <span class="stepNumber">3</span>
    <h3 class="stepName">Populate Local PostgreSQL Database from Snapshot</h3>
  </div>

  <p>Once PostgreSQL is installed on your local machine and you have a snapshot of the AACT database, you can create and populate your own database via a terminal session using the following commands.</p>

  <p class='CodeRay'>
    <pre>
      <p class='code'>
        <span class='command-prompt'>-&gt; </span><span class='command-entry'> createdb seed_db</i></span> <span class='command-prompt'>(Only if this db doesn't already exist on your local PostgreSQL instance.)</span>
        <span class='command-prompt'>-&gt; </span><span class='command-entry'> pg_restore -e -v -O -x --dbname=seed_db</i> --no-owner --create  <i>&lt;snapshot-filename&gt;</i></span>
      </p>
    </pre>
  </p>

  <p class="note">Note: this restore can take up to several hours, depending on the speed of your machine.</p>
  <p class="note">Note: If you get the error: <span class='error'>"pg_restore: [archiver (db)] could not execute query: ERROR:  unrecognized configuration parameter "row_security"</span> you will need to upgrade your version of PostgreSQL.</p>

</div>
</section>
