<div class="wrap">

  <div class="basicHero">
    <h1>Connect to AACT</h1>
     <p>As a cloud-hosted PostgreSQL database, AACT can be directly accessed via standard query & analytic tools. Several popular tools, such as pgAdmin and RStudio, are free and relatively easy to install and configure. Other proprietary tools are popular and provide powerful analytic and/or relational database utility; these tools include SAS, Toad, and Tableau. In many cases, access is a matter of installing the software package, configuring it to use PostgreSQL, and providing AACT connection credentials.
     </p>
  </div>

  <section class="connect">
  <div class="connectionTypes">
    <a href="/pgadmin" class="connectionCard">
      <h4>pgAdmin</h4>
      <p>
      Click here for instructions on how to use a standard graphical user interface to query the cloud-based AACT directly with SQL.
      </p>
      <%= fa_icon("plug") %>
    </a>

    <a href="/r" class="connectionCard">
      <h4>R and RStudio</h4>
      <p>
      Click here for instructions about how to use R/RStudio to analyze the AACT data directly.
      </p>
      <%= fa_icon("plug") %>
    </a>

    <a href="/sas" class="connectionCard">
      <h4>SAS</h4>
      <p>
      Click here for instructions about how to use SAS to analyze the AACT data directly.
      </p>
      <%= fa_icon("plug") %>
    </a>

  </div>

  <div class="connectionTypes">

    <a href="/psql" class="connectionCard">
      <h4>pSQL</h4>
      <p>
      Click here to receive instructions on how to use the command line PostgreSQL tool to query the cloud-based AACT directly with SQL.
      </p>
      <%= fa_icon("plug") %>
    </a>

    <!-- <a href="/api_docs" class="connectionCard">
      <h4>Web API (Application Program Interface)</h4>
      <p>
       Users interested in accessing the data via another application or program (in XML or json format), should click here for AACT API syntax.
      </p>
      <%= fa_icon("plug") %>
    </a> -->
  </div>

  <% if user_signed_in? %>
    <%= render 'credentials/credentials' %>
  <% else %>
    <div class="connectionTypes">
      <a href="/users/sign_up" class="connectionCard">

        <h4>Create an Account to Access Cloud Database</h4>
        <p>
        As of September 2017, you need an AACT account to access the cloud-based database. Creating an account is easy: just click here and enter your name, an email address, and a password. Once you create an account and login, the credentials you need to access the database will be displayed here.
        </p>
        <%= fa_icon("plug") %>
      </a>
    </div>

    <div class="connectionTypes">
      <a href="/users/sign_in" class="connectionCard">

        <h4>Already Have an Account?</h4>
        <p>
          If you already have an AACT account and need a reminder of the access credentials, login and the info you need will appear here.
        </p>
        <%= fa_icon("plug") %>
      </a>
    </div>
  <% end %>

  </div>
</section>
